body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #D9E3F2; /* Color de fondo principal */
}

header {
    background-color: #4673B9; /* Color del encabezado */
    color: #fff;
    padding: 10px 0;
}

nav ul.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul.menu li {
    margin: 0 15px;
}

nav ul.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul.menu li a:hover {
    color: #B4C7E4; /* Efecto hover */
    text-decoration: underline;
}

section {
    padding: 50px 20px;
    text-align: center;
}

section#inicio {
    background: url('tech.png') no-repeat center center/cover;
    color: white;
    height: 100vh;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    background-color: #8FABD6; /* Color de fondo para secciones */
    padding: 20px;
    border-radius: 8px;
}

h1, h2 {
    color: #4673B9; /* Color para los títulos */
    margin-bottom: 20px;
}

footer {
    background-color: #6A8FC8; /* Color del pie de página */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
